{% extends 'base.html' %}
{% load static %}


{% block title %}Каталог товаров{% endblock %}

{% block sidebar %}
<h3>Меню</h3>
<ul>
    <li>
        {% if not category %}{% endif %}
        <a href="{% url 'catalog:product_list' %}">Все товары</a>
    </li>
    {% for c in categories %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}

{% block content %}
    <h1>Каталог товаров</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product">
                <a href="{{ product.get_absolute_url }}"><h2>{{ product.name }}</h2></a>
                <p>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" style="width:300px;height:300px">
                    </a>
                </p>
                <p>Цена: {{ product.price }}</p>
                <p>{{ product.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}